#
# Purpose(s) of this file:
#
# - Provide an overview with explanations of every configuration/feature-switch available in the platform.
#   This is for back-end only; for front-end, see: `portal/.env.example`
#
# - Provide (safe, non-sensitive) example-values for use in (automated) API/E2E-tests.
#   See this usage as-is in: `.github/workflows/test_service_api.yml` or `test_e2e_portal.yml`
#
# - Provide a template to start with local-development.
#   See the root README / "Getting Started"
#
# See for the exact syntax, possible values or specific requirements of each variable:
#
# - services/api-service/src/env.ts

#
# Note: Variables used in both services need to match their schema in *both* files (manually)!
#
#
# ------------------------------
# Environment/Instance specifics
# ------------------------------
# (Optional) A human-readable label for the environment.
# For example `Local DEV` or `Staging Pilot A`
ENV_NAME=DEV

# (Optional) The URL(can be a data-URI) of an icon to use as 'favicon' for the environment.
# Use a generator like: <https://shoonia.github.io/1x1/>
# Or covert using: <https://rodekruis.github.io/browser-tools/image-to-data-url/>
ENV_ICON=

# (Required) Setting of the Node.js mode.
NODE_ENV=development

# (Optional) Version of current version of the platform. Will be set at build-time in production.
# Can be set locally to any string-value.
#GLOBAL_IBF_VERSION=dev

# (Optional) Name used in Docker Desktop (for use in local development only)
# Uncomment when starting from a clean slate only.
#COMPOSE_PROJECT_NAME=global-ibf

# (Optional) Make Jest use all the colors.
# Usage: Set `true` to enable, set `false` or empty to disable.
#FORCE_COLOR=true

# (Optional) Flag to start the dev server with nyc
# Set to `:collect-coverage` if you want to collect coverage from the api-service, otherwise leave empty/undefined
COVERAGE_DEV_STARTUP_SUFFIX=

# ----------
# API set up
# ----------
# Specify port-number for the api-service.
# Example values: `8080` for production, use `4000` for local development.
PORT_API_SERVICE=4000

# External (public) URL of the API.
# For example: `https://instance-name.example.org`
EXTERNAL_API_SERVICE_URL=http://localhost:4000

# API Access rate-limits.
# Provided values are set high for local development/testing.
# Generic throttling is applied to all requests.
GENERIC_THROTTLING_LIMIT=3000
GENERIC_THROTTLING_TTL=
# High throttling is applied to endpoints that should not be brute-forced like login.
# Set to a relatively high number for use in the API/E2E-tests
HIGH_THROTTLING_LIMIT=1000
HIGH_THROTTLING_TTL=


# --------
# Database
# --------
# Hostname of the database(-service). Use "ibf-db" as the hostname for local development using Docker.
POSTGRES_HOST=ibf-db
POSTGRES_PORT=5432
# Any value(s) can be used for local development. Use unique/secure values for production.
POSTGRES_USER=ibf
POSTGRES_PASSWORD=ibf
POSTGRES_DBNAME=ibf


# ---------------
# Data management
# ---------------
# To enable a full reset of the database via an API-endpoint a secret is required.
# Make sure to use a unique/long/secure secret. (i.e. 42+ (special)characters+numbers etc.)
RESET_SECRET=fill_in_secret

# Secret key used to sign/verify JWT-tokens of user-accounts.
# Make sure to use a unique/long/secure secret. (i.e. 42+ (special)characters+numbers etc.)
SECRETS_API_SERVICE_SECRET=API_service_secret



# ---------------------
# Default User-accounts
# ---------------------

# This will be the first user created with the ability to create other users.
# Make sure to use a unique/long/secure password. (i.e. 42+ (special)characters+numbers etc.)
USERCONFIG_API_SERVICE_EMAIL_ADMIN=admin@example.org
USERCONFIG_API_SERVICE_PASSWORD_ADMIN=password

# --------------------------
# Interface(s) configuration
# --------------------------

# Interface URL, used for redirect and in account-related emails:
REDIRECT_PORTAL_URL_HOST=http://localhost:8888

# ---------------------------------------
# Third-party: Azure Application-Insights
# ---------------------------------------
# (Optional) This can be found on the "Overview / Essentials"-section of the Azure Application Insights resource in Azure portal.
APPLICATIONINSIGHTS_CONNECTION_STRING=


# ---------------------------------------------------------------------
# END of ENV-configuration
# Make sure to store this file only temporary, or in a secure location!
# ---------------------------------------------------------------------
