services:
  ibf-db:
    container_name: ibf-db
    image: 'postgres:14'
    init: true
    env_file: .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DBNAME}
    volumes:
      - './postgresql.conf:/etc/postgresql.conf'
      - './init.sql:/docker-entrypoint-initdb.d/init.sql'
    ports:
      - '5436:5432'
    restart: unless-stopped
    healthcheck:
      test:
        [
          'CMD-SHELL',
          "sh -c 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DBNAME}'",
        ]
      interval: 10s
      timeout: 3s
      retries: 3

  api-service:
    container_name: api-service
    build:
      context: api-service
      target: production
    init: true
    env_file: .env
    environment:
      - GLOBAL_IBF_VERSION
    ports:
      - '${PORT_API_SERVICE}:${PORT_API_SERVICE}'
    stdin_open: true
    tty: true
    depends_on:
      ibf-db:
        condition: service_healthy
        required: true
        restart: true
    restart: on-failure
    healthcheck:
      test:
        [
          'CMD',
          'curl',
          '-f',
          'http://localhost:${PORT_API_SERVICE}/api/instance/health',
        ]
      interval: 10s
      timeout: 5s
      retries: 10
