ENVIRONMENT="development"
COSMOS_URL="https://ibf-cosmos-dev.documents.azure.com:443/"
COSMOS_KEY="..."
CDSAPI_KEY="..."
BLOB_ACCOUNT_NAME="510ibfsystem"
BLOB_ACCOUNT_KEY="..."
IBF_API_URL="..."
IBF_API_USER="..."
IBF_API_PASSWORD="..."
GITHUB_DATA_BASE_URL="https://raw.githubusercontent.com/rodekruis/IBF-seed-data/refs/heads/main"
