ENVIRONMENT="development"
BLOB_ACCOUNT_NAME="..."
BLOB_ACCOUNT_KEY="..."
IBF_API_URL="..."
IBF_API_USER="..."
IBF_API_PASSWORD="..."
GITHUB_DATA_BASE_URL="https://github.com/rodekruis/IBF-seed-data.git"
SEED_DATA_LOCAL_PATH="/tmp/IBF-seed-data"
