ENVIRONMENT="development"
COSMOS_URL="https://ibf-cosmos-dev.documents.azure.com:443/"
COSMOS_KEY="..."
CDSAPI_KEY="..."
BLOB_ACCOUNT_NAME="510ibfsystem"
BLOB_ACCOUNT_KEY="..."
IBF_API_URL="http://localhost:4000"
IBF_PIPELINE_API_KEY="a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4"
GITHUB_DATA_BASE_URL="https://raw.githubusercontent.com/rodekruis/IBF-seed-data/refs/heads/main"
SEED_DATA_REPO_ROOT="../../IBF-seed-data/"
