# Rename this file to .env to use it.

# API Keys
APP_MAPTILER_API_KEY=__fake__key____

# IBF API backend
APP_IBF_API_BACKEND=http://localhost:8001/api/

# IBF Map Servers
APP_MAP_PG_TILESERV=http://localhost:7800/
APP_MAP_PG_FEATURESERV=http://localhost:9000/

# IBF Seed data repo base URL
APP_SEED_DATA_REPO=https://raw.githubusercontent.com/rodekruis/IBF-seed-data/main/
