# Rename this file to .env to use it.

# API Keys (used in app)
APP_MAPTILER_API_KEY=__fake__key____

# API Keys (used for build)
FONTAWESOME_API_KEY=__fake__key____

# IBF API backend
APP_IBF_API_BACKEND=http://localhost:4000/api/

# IBF Seed data repo base URL
APP_SEED_DATA_REPO=https://raw.githubusercontent.com/rodekruis/IBF-seed-data/main/
