# See: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions

name: 'Deploy [test] All'

permissions:
  actions: read
  deployments: write

on:
  workflow_call:
  workflow_dispatch:

jobs:
  deploy_portal:
    name: 'Build + Deploy: portal'
    uses: ./.github/workflows/deploy_test_portal.yml
    permissions:
      actions: read # Copy of above
      deployments: write # Copy of above
      pull-requests: write # Only required because a PR-related job is defined, it will never run via `workflow_call/dispatch`.
    secrets:
      AZURE_STATIC_WEB_APPS_API_TOKEN_PORTAL: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_PORTAL }}
      LOKALISE_API_TOKEN: ${{ secrets.LOKALISE_API_TOKEN }}

  deploy_service:
    name: 'Build + Deploy: api-service'
    uses: ./.github/workflows/deploy_test_api-service.yml
    secrets:
      AZURE_WEBAPP_PUBLISH_PROFILE: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
