# See: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions

name: 'Deploy [staging] Portal'

env:
  workingDirectory: portal

permissions:
  actions: read
  deployments: write

on:
  workflow_call:
    inputs:
      gitRef:
        description: 'Version-tag or branch-name'
        type: string
        required: true
    secrets:
      AZURE_STATIC_WEB_APPS_API_TOKEN_PORTAL:
        required: true
      LOKALISE_API_TOKEN:
        required: true
  workflow_dispatch:
    inputs:
      gitRef:
        description: 'Version-tag or branch-name'
        type: string
        required: true

jobs:
  build_and_deploy:
    name: Build and Deploy Job
    runs-on: ubuntu-latest
    environment: 'staging'
    env:
      NG_ENV_NAME: ${{ vars.NG_ENV_NAME }}
      NG_ENV_ICON: ${{ vars.NG_ENV_ICON }}
      NG_LOCALES: ${{ vars.NG_LOCALES }}
      NG_DEFAULT_LOCALE: ${{ vars.NG_DEFAULT_LOCALE }}
      NG_URL_API_SERVICE: ${{ vars.NG_URL_API_SERVICE }}

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Build Interface
        id: build
        uses: ./.github/actions/build-interface
        env:
          LOKALISE_PROJECT_ID: ${{ vars.LOKALISE_PROJECT_ID }}
          LOKALISE_API_TOKEN: ${{ secrets.LOKALISE_API_TOKEN }}
        with:
          interfacePath: ${{ env.workingDirectory }}
          envIcon: ${{ env.NG_ENV_ICON }}

      # More information on Static Web App workflow configurations,
      # See: https://aka.ms/swaworkflowconfig
      - name: Deploy to Azure Static Web App
        id: deploy_to_aswa
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_PORTAL }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: 'upload'
          config_file_location: '${{ env.workingDirectory }}/'
          app_location: '${{ env.workingDirectory }}/www'
          output_location: ''
          skip_app_build: true
          skip_api_build: true

      - name: Verify Deployment
        if: steps.deploy_to_aswa.outputs.static_web_app_url != ''
        working-directory: ${{ env.workingDirectory }}
        run: |
          npm run verify:deployment-configuration -- --url=${{ steps.deploy_to_aswa.outputs.static_web_app_url }}

      - name: Finish
        run: |
          echo "Build version: ${{ steps.build.outputs.build_version }}" >> $GITHUB_STEP_SUMMARY
          echo "Preview: <${{ steps.deploy_to_aswa.outputs.static_web_app_url }}>" >> $GITHUB_STEP_SUMMARY
